body {
  background-color: lightblue;
  font-family: sans-serif;
  padding: 30px;
}

.form {
  margin-bottom: 30px;
}

.block {
  margin-bottom: 60px;
}

input {
  display: block;
  margin: 10px 0;
  padding: 20px;
  width: 300px;
}

button {
  padding: 10px 15px;
}

#status {
  margin-top: 10px;
}

/* ---------- ТАБЛИЦА ---------- */

table {
  border-collapse: collapse;
  margin-top: 15px;
  background-color: white;
  min-width: 400px;
}

th {
  background-color: #536e99;
  color: white;
  padding: 8px;
}

td {
  border: 1px solid #ccc;
  padding: 8px;
}

/* ---------- ПАГИНАЦИЯ ---------- */

.pagination {
  margin-top: 10px;
}

.pagination button {
  margin: 0 5px;
}

#page-info {
  margin: 0 10px;
  font-weight: bold;
}
